[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
wordcloud = "*"
matplotlib = "*"
nltk = "*"
scikit-learn = "*"
nbstripout = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.12"
